@import url(': https://fonts.google.com/specimen/Lato');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

#home {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/img.jpg);
}

@keyframes bgGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#home div {
    background: linear-gradient(90deg, rgba(84, 0, 10, 0.178) 1%, rgba(1, 0, 46, 0.103) 52%, rgba(0, 132, 255, 0.034) 100%);
    background-size: cover;
    background-position: center center;
    background-size: 400% 300%;
    animation: bgGradient 5s ease infinite;

}

#home div .contenido header {
    background-color: rgba(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#home div .contenido header .contenido-header {
    max-width: 1100px;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

#home div .contenido header .contenido-header h1 {
    font-family: "Montserrat", sans-serif;
    color: #ff5080;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
}

#home div .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
}

#home div .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
}

#home div .contenido header .contenido-header nav ul li a:hover {
    color: #ff5080;
}

#home div .contenido header .contenido-header nav ul li .selected {
    color: #ff5080;
}

#home div .contenido header .contenido-header nav ul li .selected:hover {
    color: #fff;
}

#home div .presentacion img {
    width: 15%;
    border-radius: 100%;
    margin-top: 8%;
}

#home div .contenido .presentacion {
    max-width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home div .contenido .presentacion .bienvenida {
    font-size: 35px;
    font-weight: 400;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#home div .contenido .presentacion h2 {
    font-size: 30px;
    text-align: center;
    max-width: 700px;
    margin-top: 0;
}

#home div .contenido .presentacion h2 span {
    display: block;
    color: #f80a49;
    max-width: 700px;
    font-size: 30px;
    text-align: center;
}

#home div .contenido .presentacion .descripcion {
    text-align: center;
    margin: 10px 100px;
    font-size: 25px
}

#home div .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fbfbfb;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#home div .contenido .presentacion a:hover {
    background-color: #ff5080;
}

#contacs {
    width: 100%;
    height: 80%;
    padding: 70px;
    background-image: linear-gradient(rgba(175, 89, 158, 0.3), rgba(235, 110, 110, 0.5)), url("./imagenes/OIP.jpg");
    background-size: cover;
}

#contacs .title {
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #0f0f0f;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacs p {
    text-align: center;
    margin: 40px 100px;
    font-size: 25px
}

#contacs p .front {
    color: #f80a49;
}

footer {
    background-color: #af599e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 90px;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    font-size: 26px;
}

footer a:hover {
    color: #ff5080;
}


/* responsive section*/
@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        padding: 5px 0;
    }

    #home div .contenido .presentacion .descripcion {
        text-align: center;
        margin: 50px auto;
        font-size: 15px
    }

    #home div .contenido-header {
        display: flex;
    }

    #home div nav .responsive ul {
        display: block !important;
        text-align: center;
    }

    #home div nav .responsive ul li {
        margin: 5px 0;
    }

    #home .contenido .presentacion h2 {
        font-size: 40px;
    }

    #contacs {
        min-width: 100wh;
        min-height: 100hw;
        padding: 20px 0 0 5px;
    }

    #contacs h3 {
        font-size: 30px;
        font-weight: 500;
      
    }

    #contacs p {
        text-align: center;
        margin: 20px;
        font-size: 25px
    }

    #contacs p .front {
        color: #f80a49;
    }

    footer {
        min-width: 100vw;
        height: 50px;
        text-align: center;
        color: aliceblue;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
}